.gradle/
.idea/
build/
.DS_Store

/local.properties

*.iml
*.eml
*.iws


UnityPluginAndSample/Assets/test.unity
UnityPluginAndSample/Assets/test.unity.meta
UnityPluginAndSample/Library
UnityPluginAndSample/Logs
UnityPluginAndSample/Temp
*.csproj
*.sln
UnityPluginAndSample/.vs
